body {
    /* Layout */
    /* box */
    padding: 2% 2%;
    /* visual */
    background-color: lightblue;
}

/* setting the initial gameBoard dimensions and properties */

.gameBoard {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 25%);
    /* box */
    margin: auto;
    min-height: 400px;
    max-height: 800px;
    padding: 2% 2% 2% 2%;
    /* visual */
    background-color: #5000d5;
    box-shadow: 0px 0px 10px 1px #000;
}

.gameBoard__card {
    /* layout */
    /* box */
    margin: 2% 2% 2% 2%;
    /* visual */
    background-color: lightcoral;
}

/* breakpoints */